@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      primary: #2FA674;
      secondary: #6EE5B3;
      /* ... */
    }
  }


.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.page-item{
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border-radius: 0.25rem;
    color: #2FA674;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: 1px solid #2FA674;
    box-shadow: 0 0 0 0 rgba(47, 166, 116, 0.4);
}

.page-item:hover{
    background-color: #2FA674;
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(47, 166, 116, 0.4);
    font-weight: bold;
}

.pageItemActive{
    background-color: #2FA674;
    color: #fff;
    font-weight: bold;
}

.registerImage > input::file-selector-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;

  }


  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  

  .MuiStepConnector-line {
    display: none !important;
  }
  
  .MuiStepConnector-root {
    height: 1.5px;
    background-color: rgba(0, 0, 0, 0.349);
  }
  
  .MuiStepConnector-active,
  .MuiStepConnector-completed {
    background-color: #2FA674;
  }
  .MuiPaper-root{
    background: transparent
  }

  #MuiSvgIcon svg{
    color: #2FA674;
    height: 4rem;
    width: 4rem;
  }
  #MuiTypography-root p{
    font-size: 1.2rem;
  }

  